@import "tailwindcss";

/* Hide horizontal scrollbar but keep wheel/drag scrolling */
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none;    /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;            /* Chrome/Safari */
}
